@{
    ViewData["Title"] = "Memo User";
}
@model PublicAccountViewModel

<link rel="stylesheet" href="~/css/pages/account/public.css" asp-append-version="true" />
<div class="profile-container">
    <img src="@Model.profilePicturePath" class="profile-picture" />
    <div class="user-info">
        <div class="name-and-login">
            <span class="nickname">@Model.nickname</span>
            <span class="last-login">@Model.lastTimeOnline</span>
        </div>

        <div class="fullname">@Model.fullName</div>
        <div class="additional-info">
            @if (Model.links.Count > 1)
            {
                <div class="links-block">
                    @foreach (var l in Model.links)
                    {
                        <p class="link-type">
                            @l.Key:
                            <a href="@l.Value" class="link">@l.Value</a>
                        </p>
                    }
                </div>
            }
        </div>
    </div>
</div>
