@model CommentVoteButtonsViewModel



@{
    HtmlString hxVals(bool isUp)
    {
        var vals = new Dictionary<object, object>
                {
                    ["memoId"] = Model.memoId,
                    ["commentId"] = Model.commentId,
                    ["isUp"] = isUp
                };
        return new HtmlString($"hx-vals='{Json.Serialize(vals)}'");
    }
    HtmlString hxAtrributes() =>
        new HtmlString("hx-redirect='/authorization' hx-trigger='click' hx-swap='outerHtml' hx-post='/MemoInteraction/commentVote' hx-target='comment-rating-buttons'");

    HtmlString iconFilledPath = new HtmlString(@"<path d=""M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14z"" />");
    HtmlString iconPath = new HtmlString(@"<path d=""M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14z"" />");
}




<div class="comment-rating-buttons">
    @if (!Model.isRated)
    {
        <span class="comment-rating-button" @hxAtrributes() @hxVals(true)>
            <svg viewBox="0 0 24 24">
                @iconPath
            </svg>
        </span>

        <span class="comment-rating-button" @hxAtrributes() @hxVals(false)>
            <svg viewBox="0 0 24 24" style='transform: scaleY(-1);'>
                @iconPath
            </svg>
        </span>

    }
    else
    {
        @if (Model.isUp)
        {
            <span class="comment-rating-button" @hxAtrributes() @hxVals(true)>
                <svg viewBox="0 0 24 24">
                    @iconFilledPath
                </svg>
            </span>

            <span class="comment-rating-button" @hxAtrributes() @hxVals(false)>
                <svg viewBox="0 0 24 24" style='transform: scaleY(-1);'>
                    @iconPath
                </svg>
            </span>
        }
        else
        {
            <span class="comment-rating-button" @hxAtrributes() @hxVals(true)>
                <svg viewBox="0 0 24 24">
                    @iconPath
                </svg>
            </span>

            <span class="comment-rating-button" @hxAtrributes() @hxVals(false)>
                <svg viewBox="0 0 24 24" style='transform: scaleY(-1);'>
                    @iconFilledPath
                </svg>
            </span>
        }
    }
</div>
