@model MemoFullInfoViewModel



<div class="memo-top-border">
    <button class="close-button" onclick="closeMemoFullInfo()">
        <span>&times;</span>
    </button>
</div>

<div class="memo-fu-container">
    <div class="memo-fu-main">
        <a href='/account?userId=@Model.authorId' class="memo-fu-header">
            <img src='@Model.authorProfilePicture' alt='Profile Picture' />
            <span>@Model.authorNickName</span>
        </a>

        @if (!string.IsNullOrEmpty(Model.imagePath))
        {
            <div class="memo-fu-image">
                <img src="@Model.imagePath" alt="Memo Image">
            </div>
        }

        <div class="memo-fu-content">
            <p>@Model.authorComment</p>
        </div>

        <div class="memo-fu-footer">
            <span class="likes">@Model.likesCount Likes</span>
           
        </div>

        <div class="memo-tags">
            @foreach (string tag in Model.tags)
            {
                <memo-tag tagName="@tag"></memo-tag>
            }
            @if (Model.tags.Length == 10)
            {
                <a asp-action="RenderTags" asp-controller="MemoInterection" asp-route-memoId="@Model.id" hx-swap="OuterHTML" hx-target="this" >See all tags...</a>
            }
        </div>

    </div>
    @if (Model.areCommentsAvaliable)
    {
        <div class="memo-fu-sidebar">

            <div class="memo-fu-comments">
                <span>Comments @Model.comments.Length</span>
                @foreach (var comment in Model.comments)
                {
                    <div class="comment">
                        <strong>@comment.authorNickname</strong> @comment.text
                    </div>
                }
            </div>
            @if (Model.isViewerAuthorized)
            {
                <form class='memo-fu-add-comment' hx-post='memo-fuInteraction/LeaveComment'>
                    <input type='hidden' value='@Model.id' name='memo-fuId' />
                    <input type='text' placeholder='Add a comment...' name='memo-fuComment' />
                    <button type='submit'>Post</button>
                </form>
            }
        </div>
    }
</div>