@using Microsoft.AspNetCore.Html
@model AccountSettingsForm



<form class='account-settings-container @(Model.AnyErrors() ? "form-error-borders" : "")' hx-post="MyAccount/SaveSettings" hx-swap="outerHTML" hx-redirect="/myaccount">

    <div class="settings-area">
        <p class="settings-area-header">Main</p>
        <div hx-post="/MyAccount/RenderSettingsProfilePicture" hx-target="this" hx-trigger="load">Unable to load profile picture</div>

        <input type="text" name="nickname" placeholder="Nickname" value="@Model.nickname" required />
        <input type="text" name="fullName" placeholder="Full Name" value="@Model.fullName" />
        @AddErrorLineIfNeeded(Model.mainFieldError)
    </div>

    <div class="settings-area">
        <p class="settings-area-header">Privacy</p>
        <p class="privacy-input">
            Is Account Private
            <input type="checkbox" class="default-checkbox" name="isAccountPrivate" @(Model.isAccountPrivate ? "checked" : "") />
        </p>
        <p class="privacy-input">
            Are Links Private
            <input type="checkbox" class="default-checkbox" name="areLinksPrivate" @(Model.areLinksPrivate ? "checked" : "") />
        </p>
        <p class="privacy-input">
            Is Last Login Date Private
            <input type="checkbox" class="default-checkbox" name="isLastLoginDatePrivate" @(Model.isLastLoginDatePrivate ? "checked" : "") />
        </p>
        @AddErrorLineIfNeeded(Model.privacyFieldError)
    </div>

    <div class="settings-area">
        <p class="settings-area-header">Links</p>
        <p class="link-input-line">
            GitHub:
            <input type="text" name="githubLink" value="@Model.githubLink" />
        </p>
        <p class="link-input-line">
            Telegram:
            <input type="text" name="telegramLink" value="@Model.telegramLink" />
        </p>
        <p class="link-input-line">
            YouTube:
            <input type="text" name="youtubeLink" value="@Model.youtubeLink" />
        </p> <p class="link-input-line">
            Discord:
            <input type="text" name="discordLink" value="@Model.discordLink" />
        </p>
        @AddErrorLineIfNeeded(Model.linksFieldError)
    </div>

    <div class="settings-area">
        <p class="settings-area-header">Additional info</p>
        <textarea class="hobbies-textarea" name="hobbies" placeholder="Hobbies">@Model.hobbies</textarea>
        <textarea class="additional-info-textarea" name="additionalInfo" placeholder="Additional Info">@Model.additionalInfo</textarea>
        @AddErrorLineIfNeeded(Model.additionalInfoFieldError)
    </div>

    <div class="buttons-container">
        <a class="cancel-button" asp-action="Index" asp-controller="MyAccount">Cancel and close</a>
        <input class="save-button" type="submit" value="Save and close" hx-redirect="myaccount" />
    </div>

    <link rel="stylesheet" href="~/css/pages/account/settings.css" asp-append-version="true" />
    <input name="profilePicturePath" type="hidden" value="@Model.profilePicturePath" />
</form>

@{
    HtmlString AddErrorLineIfNeeded(string fieldName) =>
        !string.IsNullOrEmpty(fieldName)
            ? new HtmlString($"<p class=\"error-line\">{fieldName}</p>")
            : new HtmlString(string.Empty);
}
