@using Microsoft.AspNetCore.Html
@model AccountSettingsForm



<form class='account-settings-container @(Model.AnyErrors() ? "form-error-borders" : "")' hx-post="MyAccount/SaveSettings" hx-swap="outerHTML" hx-redirect="/myaccount">

    <link rel="stylesheet" href="~/css/pages/account/settings/profile_picture.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/account/settings/settings.css" asp-append-version="true" />

    <div class="settings-area">
        <p class="settings-area-header">Main</p>
        <div class="main-area-content">
            <div hx-post="/MyAccount/RenderSettingsProfilePicture" hx-target="this" hx-trigger="load">Unable to load profile picture</div>
            <div class="main-area-inputs">
                <p class="main-area-input-line">
                    Nickname:
                    <input type="text" name="nickname" value="@Model.nickname" required />
                </p>
                <p class="main-area-input-line">
                    Full Name:
                    <input type="text" name="nickname" value="@Model.fullName" />
                </p>
            </div>
        </div>

        @AddErrorLineIfNeeded(Model.mainFieldError)
    </div>

    <div class="settings-area">
        <p class="settings-area-header">Privacy</p>
        <p class="privacy-input">
            Is Account Private
            <input type="checkbox" class="default-checkbox" name="isAccountPrivate" @(Model.isAccountPrivate ? "checked" : "") />
        </p>
        <p class="privacy-input">
            Are Links Private
            <input type="checkbox" class="default-checkbox" name="areLinksPrivate" @(Model.areLinksPrivate ? "checked" : "") />
        </p>
        <p class="privacy-input">
            Is Last Login Date Private
            <input type="checkbox" class="default-checkbox" name="isLastLoginDatePrivate" @(Model.isLastLoginDatePrivate ? "checked" : "") />
        </p>
        @AddErrorLineIfNeeded(Model.privacyFieldError)
    </div>

    <div class="settings-area">
        <p class="settings-area-header">Links</p>
        <p class="link-input-line">
            GitHub:
            <input type="text" name="githubLink" value="@Model.githubLink" />
        </p>
        <p class="link-input-line">
            Telegram:
            <input type="text" name="telegramLink" value="@Model.telegramLink" />
        </p>
        <p class="link-input-line">
            YouTube:
            <input type="text" name="youtubeLink" value="@Model.youtubeLink" />
        </p> <p class="link-input-line">
            Discord:
            <input type="text" name="discordLink" value="@Model.discordLink" />
        </p>
        @AddErrorLineIfNeeded(Model.linksFieldError)
    </div>

    <div class="settings-area">
        <p class="settings-area-header">Additional info</p>
        <label>About me:</label>
        <textarea class="additional-info-textarea" name="aboutMe">@Model.aboutMe</textarea>
        <label>Hobbies:</label>
        <textarea class="hobbies-textarea" name="hobbies">@Model.hobbies</textarea>
    
        @AddErrorLineIfNeeded(Model.additionalInfoFieldError)
    </div>

    <div class="buttons-container">
        <a class="cancel-button" asp-action="Index" asp-controller="MyAccount">Cancel and close</a>
        <input class="save-button" type="submit" value="Save and close" hx-redirect="myaccount" />
    </div>
</form>

@{
    HtmlString AddErrorLineIfNeeded(string fieldName) =>
        !string.IsNullOrEmpty(fieldName)
            ? new HtmlString($"<p class=\"error-line\">{fieldName}</p>")
            : new HtmlString(string.Empty);
}
